{% extends 'rocdev/base.html' %}
{% load bootstrap4 %}
{% block title %}Home{% endblock %}
{% block main %}
<section class="row">
  <div class="col">
    <h1>Rochester-area Coworking Centers</h1>
    <p>
        This is a crowd-sourced list of coworking centers in Rochester and the surrounding communities.
        While we do our best, we can't guarantee the accuracy or completeness of this list. Entries are
        not sorted in any particular way.
    </p>
    <p>
        See also <a href="https://wiki.coworking.org/w/page/16583671/CoworkingRochester" target="_blank">https://wiki.coworking.org/w/page/16583671/CoworkingRochester</a>.
    </p>
  </div>
</section>


{% endblock %}
